# Created by venv; see https://docs.python.org/3/library/venv.html

.DS_Store
.venv/
bin/
__pycache__/
data/
lib/
node_modules/
ressources/data_output
package-lock.json
package.json
pyvenv.cfg
pymongo/
