/* Thème sombre */
.theme--dark {
    --theme-bg-color: rgb(34, 34, 34);
    --theme-odd-color: rgb(29, 29, 29);
    --theme-bg-search: rgb(40, 40, 40);
    --theme-bg-search-2: rgb(34, 34, 34);
    --theme-border-color: #424242;
    --theme-shadow-color: #111;
    --theme-text-color: #ccc;
    --theme-link-color: #5098d6;
}

html, body {
    width: 100%;
    min-height: 100vh;
    font: 16px Verdana, sans-serif;
    color: var(--theme-text-color);
    background-color: var(--theme-bg-color);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center; /* Centre tout verticalement */
}

.container {
    width: 80%;
    max-width: 900px;
    padding: 20px;
    background-color: var(--theme-odd-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--theme-shadow-color);
    overflow-y: auto;
    max-height: 90vh; /* Limite la hauteur */
    display: flex;
    flex-direction: column;
}

h1, h2 {
    text-align: center;
    color: var(--theme-link-color);
    font-size: 2em;
    margin-bottom: 15px;
}

/* Pokémon Details Section */
#pokemon-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Section Titles */
h3 {
    color: var(--theme-link-color);
    font-size: 1.5em;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--theme-border-color);
}

/* For Lists of Items, Moves, Abilities, etc. */
ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    background: var(--theme-bg-search);
    margin: 8px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--theme-border-color);
    display: flex;
    align-items: center;
}

ul li:hover {
    background-color: var(--theme-bg-search-2);
    cursor: pointer;
}

/* Image styling */
.pokemon-image img {
    max-width: 200px; /* Augmenter la largeur maximale */
    width: 100%;      /* L'image prendra la largeur de son conteneur */
    height: auto;     /* La hauteur sera ajustée automatiquement pour maintenir les proportions */
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    border: 2px solid var(--theme-border-color);
}

/* Stats & Data */
.pokemon-stats ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.pokemon-stats li {
    background: var(--theme-bg-search);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--theme-border-color);
}

/* Liste des statistiques détaillées pour une seule colonne */
.pokemon-detailed-stats ul {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-direction: column; /* Disposition en colonne */
    gap: 15px; /* Espacement entre chaque statistique */
}

/* Chaque statistique occupe une ligne */
.stat-item {
    display: flex;
    flex-direction: column; /* Aligne le label et la barre en colonne */
}

/* Label des statistiques */
.stat-label {
    margin-bottom: 5px; /* Espacement entre le label et la barre */
    color: var(--theme-text-color);
    font-size: 1em;
}

/* Barre de statistique */
.stat-bar {
    height: 20px;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    color: #fff;
    background-color: #f0f0f0;
    text-align: center;
    overflow: hidden; /* Coupe tout débordement */
    line-height: 16px;
    margin: 5px 0 5px 5px;
    padding: 2px; /* Ajoute un léger espace interne */
}

/* Remplissage de la barre */
.stat-bar-fill {
    height: 100%;
    border-radius: 5px;
    transition: width 0.4s ease-in-out;
}

/* Valeur affichée */
.stat-value {
    position: absolute;
    top: 0;
    right: 10px;
    color: #fff;
    line-height: 20px;
    font-size: 0.9em;
    text-shadow: 1px 1px 2px #000;
}

/* Formatting Specific Items */
.pokemon-name {
    font-size: 1.3em;
    font-weight: bold;
    color: var(--theme-text-color);
}

.pokemon-type {
    font-size: 1.1em;
    color: var(--theme-link-color);
}

/* Styling Links (Optional) */
a {
    color: var(--theme-link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section {
    transition: background-color 0.3s, box-shadow 0.3s ease;
}

section:hover {
    background-color: var(--theme-bg-search-2);
    box-shadow: 0 4px 8px var(--theme-shadow-color);
}

/* Style global pour les contenuers */
.pokemon-spreads {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.pokemon-items ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Crée deux colonnes égales */
    gap: 10px; /* Espace entre les éléments */
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Ajout de classes CSS pour les types */
.type-of-pokemon {
    display: inline-block;
    padding: 4px 12px;
    border-radius: 20px;
    font-weight: bold;
    text-transform: capitalize;
}

.type-fire {
    color: #e74c3c;
    border: 2px solid #e74c3c;
    padding: 2px 6px;
    border-radius: 5px;
}

.type-water {
    color: #3498db;
    border: 2px solid #3498db;
    padding: 2px 6px;
    border-radius: 5px;
}

.type-grass {
    color: #2ecc71;
    border: 2px solid #2ecc71;
    padding: 2px 6px;
    border-radius: 5px;
}

.type-electric {
    color: #f39c12;
    border: 2px solid #f39c12;
    padding: 2px 6px;
    border-radius: 5px;
}

.type-poison {
    color: #9b59b6;
    border: 2px solid #9b59b6;
    padding: 2px 6px;
    border-radius: 5px;
}

.type-bug {
    color: #2c3e50;
    border: 2px solid #2c3e50;
    padding: 2px 6px;
    border-radius: 5px;
}

.type-normal {
    color: #95a5a6;
    border: 2px solid #95a5a6;
    padding: 2px 6px;
    border-radius: 5px;
}

.type-psychic {
    color: #8e44ad;
    border: 2px solid #8e44ad;
    padding: 2px 6px;
    border-radius: 5px;
}

.type-fighting {
    color: #d35400;
    border: 2px solid #d35400;
    padding: 2px 6px;
    border-radius: 5px;
}

.type-fairy {
    color: #f1c40f;
    border: 2px solid #f1c40f;
    padding: 2px 6px;
    border-radius: 5px;
}

.type-rock {
    color: #7f8c8d;
    border: 2px solid #7f8c8d;
    padding: 2px 6px;
    border-radius: 5px;
}

.type-ghost {
    color: #8e44ad;
    border: 2px solid #8e44ad;
    padding: 2px 6px;
    border-radius: 5px;
}

.type-ice {
    color: #1abc9c;
    border: 2px solid #1abc9c;
    padding: 2px 6px;
    border-radius: 5px;
}

.type-dragon {
    color: #e67e22;
    border: 2px solid #e67e22;
    padding: 2px 6px;
    border-radius: 5px;
}

.type-dark {
    color: #34495e;
    border: 2px solid #34495e;
    padding: 2px 6px;
    border-radius: 5px;
}

.type-steel {
    color: #bdc3c7;
    border: 2px solid #bdc3c7;
    padding: 2px 6px;
    border-radius: 5px;
}

.type-flying {
    color: #3498db;
    border: 2px solid #3498db;
    padding: 2px 6px;
    border-radius: 5px;
}

.type-unknown {
    color: #95a5a6;
    border: 2px solid #95a5a6;
    padding: 2px 6px;
    border-radius: 5px;
}

.back-button {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: #2980b9;
}
